<!DOCTYPE html>
<html>
<head>
    <title>Machine Learning Age Estimation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to the Age Estimation App</h1>
    <p>Please upload your image or capture it using the camera to estimate your age.</p>

    <!-- Camera Feed -->
    <h2>Camera Feed</h2>
    <!-- Video element for displaying the live camera feed -->
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Capture Image</button>
    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>

    <!-- Form to submit captured image -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <!-- Hidden field to store the image data -->
        <input type="hidden" name="image_data" id="image_data">
        <label for="actual_age">Your Actual Age:</label>
        <input type="number" id="actual_age" name="actual_age" required>
        <button type="submit">Submit</button>
    </form>

    <script>
        // Get access to the camera!
        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
                video.play();
            });
        }

        // Elements for taking the snapshot
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');
        var snapButton = document.getElementById('snap');

        snapButton.addEventListener("click", function() {
            context.drawImage(video, 0, 0, 640, 480);
            var imageData = canvas.toDataURL('image/png');
            document.getElementById('image_data').value = imageData;
        });
    </script>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
